.card{
    display: flex;
    justify-content: center;
    width: 40rem;
    margin: 1rem 0;
    
    padding: 1rem 7rem;
    align-self: center;    
    background-color: #373737;
    border-radius: 1rem;
    transition: height 2s;
}
