dialog {
  padding: 0.5rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: solid;
  background: white;
  color: black;
}

dialog::backdrop {
  background-color: rgba(12, 12, 12, 0.3);
  z-index: 9999;
}